@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Is your API Project Running?<a href="/Customer" target="_blank">Click Here</a></h2> 
</div>
